%section.paes
  %header
    %h1#title= @title
  %ul 
    -# print each pae, authors & title
    - @paes.each do |pae,i|
    
      %li
        - last = pae.authors.length-1
        - pae.authors.each_with_index do |author,i|
          - if i > 0 && i == last
            = 'and ' + author.lname + ', '
          - else
            = author.lname
        %a{ :href=> "/show/#{pae.id}" }
          = pae.title
  
