-# %h2.title= @pae.title
%p.date
  submitted
  = @pae.date
%h2.author
  by
  -# print each author's name
  - @pae.authors.each do |author,i|
    = author.fname + ' ' + author.lname
%ul.advisors
  - @pae.advisors.each do |advisor,i|
    %li.advisor= advisor.fname + ' ' + advisor.lname
%ul.clients
  - @pae.clients.each do |client,i|
    %li.client
      = client.org_name
      %ul.contacts
        - @pae.clients.contacts.each do |contact,i|
          %li.contact= contact.fname + ' ' + contact.lname + ', ' + contact.position
%ul.areas
  - # Use Area class to look up title of area
  - @pae.area_paes.each do |area,i|
  - @area = Area.first( :slug.like => area.area_slug )
    %li.area= @area.title
%p
  -# convert pae_id to string using builtin method, add xml extension
  %a{ :href => @pae.id.to_s + ".xml" } xml
